name: Docker Build Benchmark

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  docker-builds:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Build (unoptimized)
        run: |
          time docker build -f Dockerfile.unoptimized .

      - name: Build (optimized)
        run: |
          time docker build -f Dockerfile.optimized .
